name: Review with Claude Code

on:
  - pull_request

jobs:
  review:
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
      actions: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: run claude code
        uses: anthropics/claude-code-action@v1
        with:
          claude_code_oauth_token: ${{ secrets.ANTHROPIC_API_KEY }}      
          github_token: ${{ secrets.GITHUB_TOKEN }}
          prompt: "@.github/prompts/claude-code-review.md を参照してください。"
          claude_args: '--allowed-tools "Bash(gh issue view:*),Bash(gh search:*),Bash(gh issue list:*),Bash(gh pr comment:*),Bash(gh pr review:*),Bash(gh pr diff:*),Bash(gh pr view:*),Bash(gh pr list:*),Bash(gh api *)"'
